.dialog_section {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.companion_container {
    display: flex;
    flex-direction: column;
    .message {
        display: flex;
        align-items: flex-end;
    }
    .avatar {
        width: 60px;
        height: 59px;
        border-radius: 52px;
        margin-right: 17px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.dialog_container {
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 8px;
    padding-bottom: 5px;
    line-height: 24px;
    width: 469px;
    height: fit-content;
    background-color:#464646;
    .message_body {
        word-wrap: break-word;
        width: 425px;
        position: relative;
        &_companion {
            min-height: 60px;
        }
        &_me {
            background-color: #14FF72;
            font-weight: 500;
        }
        
        h5 {
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 24px;
        }
        .time_container {
            position: absolute;
            top: 50px;
            right: -40px;
            float: right;
            color: #14FF72;
        }
    }
}